@model aud_kolokviumska.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>AddUserToRole</h2>

@using (Html.BeginForm("AddUserToRole", "Account"))
            {
                <div class="form-group">

                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})

                    @Html.DropDownListFor(m => m.SelectedRole,
                   new SelectList(Model.Roles), new {@class = "form-control"})

                    <br />

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }